.single-news-wrapper {
	
}

.single-news.pic {
	float:left;
	padding:30px;
}

.single-news.pic img {
	border-radius: 20px;
}

.single-news.title {
	font-size:30px;
	font-weight: bolder;
}

.single-news.content {

}






.edudms_news.widget.block{
	margin-bottom:0px;
	margin-top:0px;
	border-top:2px solid #82231C;
	border-radius: 10px;
	padding-top:5px;
	padding-bottom:20px;
	font-size:smaller;
}

.edudms_news.widget.content {
	border-top-width:0px;
	margin-bottom: 5px;
	padding:2px 2px 2px 2px;
	display:none;
}

.edudms_news.widget.title {
	margin-bottom: 5px;
	padding:2px 2px 2px 2px;
	font-weight:bolder;
	font-size: larger;
	border-top: 0px;
}

.edudms_news.widget.pic {
	display:none;
}
.edudms_news.widget.date {
	display:none;
}
.edudms_news.widget.source{
	display:none;
}

.edudms_news.block.page {
	border-top-color:#9E7E38;
	border-style: double;
	border-top-width: 4px;
	border-right: 0px;
	border-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	margin-bottom: 1px;
	padding:2px 2px 2px 2px;
	min-height:180px;
}

.edudms_news.pic.page{
	display: block;
	float:left;
	padding:5px 5px 5px 5px;
	min-width:170px;
	min-height:170px;
}

.edudms_news.pic.page img {
	margin:5px 5px 5px 5px;
}

.edudms_news.title.page {
	border-top-width:0px;
	margin-bottom: 0px;
	padding:2px 2px 2px 2px;
}
.edudms_news.title.page a{
	text-decoration:none;
	font-size:larger;
}

.edudms_news.date.page{
	font-size:small;
	font-weight:bold;
	color:#999999;
	margin:2px 2px 2px 2px;
}

.edudms_news.content.page {
	border-top-width:0px;
	margin-bottom: 5px;
	padding:2px 2px 2px 2px;
}

.edudms_news.source.page {
	font-size:small;
	font-weight:bold;
	color:#999999;
	margin:2px 2px 2px 2px;
	float:bottom;
}